<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script src="http://localhost:3000/dist/monitor.trace.umd.js"></script>
    <script>
      MonitorJS({
        seraphId: 'test',
        H5Version: '9.9.9',
        debug: true,
        trace: {
          serviceName: 'wangshuai-demo',
          serviceId: '2333',
          companyId: '79002',
          env: 'prd',
          corsUrls: [/jsonplaceholder/, /example/],
        },
      });
    </script> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
